<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/login" class="login" method="post">
    <fieldset>
        <label for="account_email">Email:</label><br>
        <input type="email" id="account_email" name="account_email" required><br>
        <label for="account_password">Password:</label><br>
        <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span><br>
        <input type="submit" value="LOGIN">
        <p>No Account? <a href="/account/register">Sign-up</a></p>
    </fieldset>
</form>