<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title><%- title %> | CSE 340 App</title>
    <meta name="description" content="WDD 340 Activity Website">
    <meta name="author" content="Wilfred Eiron Araga">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/baseStyle.css">
    <link rel="stylesheet" href="/css/larger.css">
    <link rel="icon" href="/images/site/icon.png">
</head>