<h1><%= title %></h1>

<div class="errorView">
    <img id="errorHero" src="/images/site/error_view.jpg" alt="There was a crash, try different route!">
    <p id="errorMessage"><%- message %></p>
</div>
